*.pyc

# ... although the .so file is stuck in the repo forever now :/
*.so

.vscode

pyvenv.cfg

awesomevirtualenvstuff/

# These files are very large
Capstone_Winter_Work/HA/server/packages/
Capstone_Winter_Work/Packages/
