{% include 'header.html' %}

<div class="wrapper">

	<nav id="sidebar">
		<div class="sidebar-header">
			<h3>E.P.I.C.</h3>
		</div>
			
		<ul class="list-unstyled component">
			<li>
				<a href="#packageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Packages</a>
				<ul class="collapse list-unstyled" id="packageSubmenu">
					<li>
						<a href="/packages">View Packages</a>
					</li>
					<li>
						<a href="/packages/add">Add Package</a>
					</li>
					<hr>
					<p>Packages</p>
					{% for package in packages %}
					<li>
						{% for name in package %}
						<a href="/packages/{{ name }}">{{ name }}</a>
						{%endfor%}
					</li>
					{% endfor %}
					<hr>
				</ul>
			</li>
			<li>
				<a href="#deviceSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Devices</a>
				<ul class="collapse list-unstyled" id="deviceSubmenu">
					<li>
						<a href="/devices">View Devices</a>
					</li>
					<hr>
					<p>Connected Devices</p>
					{% if devices %}
						{% for device in devices %}
					<li>
						<a href="/devices/{{ device['internal_id'] }}">{{ device['moz_definition']['name'] }}</a>
					</li>
						{% endfor %}
					{% else %}
					<li>
						<span>No Device Connected</span>
					</li>
					{% endif %}
					<hr>
					<p>Found Devices</p>
					{% if found_devices %}
					<li>
						<!-- TODO -->
					</li>
					{% else %}
					<li>
						<span>No Devices Found</span>
					</li>
					{% endif %}
					<hr>
				</ul>
			</li>
			<li>
				<a href="#macroSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Macros</a>
				<ul class="collapse list-unstyled" id="macroSubmenu">
					<li>
						<a href="/macros">View Macros</a>
					</li>
					<li>
						<a href="/macros/add">Add Macro</a>
					</li>
					<hr>
					<p>Current Macros</p>
					{% if macros %}
					<li>
						<!-- TODO -->
					</li>
					{% else %}
					<li>
						<span>No Macros Found</span>
					</li>
					{% endif %}
					<hr>
				</ul>
			</li>
		</ul>
	</nav>

	<div class="content dashboard" style="width: 100%">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">

				<button type="button" id="sidebarCollapse" class="btn btn-primary">
					<i class="fas fa-align-left"></i>
					<span>Toggle Sidebar</span>
				</button>
			
			</div><!-- .container-fluid -->
		</nav><!-- .navbar -->

		<div class="container-fluid">
			<div class="masonry">
				<!-- Create Package Cards -->
				{% for package in packages %}
					{% for name in package %}
				<div class="card">
					<div class="card-header">
						{{ name }}
					</div><!-- .card-header -->
					<div>
						{{ package[name] }}
						<div class="nav nav-tabs" id="tabs-package-{{ package[name]['package_id'] }}" role="tablist">
							<a class="nav-itme nav-link active" id="meta-tab-{{ package[name]['package_id'] }}" data-toggle="tab" href="#meta-{{ package[name]['package_id'] }}" role="tab" aria-controls="meta-{{ package[name]['package_id'] }}" aria-selected="true">Meta</a>
						</div>
						<div class="tab-content" id="tabContent-package-{{package[name]['package_id'] }}">
							
						</div>
					</div><!-- .card-body -->
				</div><!-- .card -->
					{% endfor %}
				{% endfor %}
				<!-- Create Device Cards -->
				{% for device in devices %}
				<div class="card">
					<div class="card-header">
						{{ device['moz_definition']['name']|title }}	
					</div>
					<div>
						<div class="nav nav-tabs" id="tabs-device-{{ device['internal_id'] }}" role="tablist">
							<a class="nav-item nav-link active" id="info-tab-{{ device['internal_id'] }}" data-toggle="tab" href="#info-{{ device['internal_id'] }}" role="tab" aria-controls="info-{{ device['internal_id'] }}" aria-selected="true">Info</a>
							<a class="nav-item nav-link" id="property-tab-{{ device['internal_id'] }}" data-toggle="tab" href="#property-{{ device['internal_id'] }}" role="tab" aria-controls="property-{{ device['internal_id'] }}" aria-selected="true">Properties</a>
							<a class="nav-item nav-link" id="action-tab-{{ device['internal_id'] }}" data-toggle="tab" href="#action-{{ device['internal_id'] }}" role="tab" aria-controls="action-{{ device['internal_id'] }}" aria-selected="true">Actions</a>
						</div><!-- .nav-pills -->
						<div class="tab-content" id="tabContent-device-{{ device['internal_id'] }}">
							<div class="tab-pane card-body fade show active" id="info-{{ device['internal_id'] }}" role="tabpanel" aria-labelledby="info-tab-{{ device['internal_id'] }}">
								<span>Internal UUID: {{ device['internal_id'] }}</span><br>
								<span>Manager ID: {{ device['manager_id'] }}</span><br>
								<span>Description: {{ device['moz_definition']['description'] }}</span><br>
							</div><!-- #info-tab -->
							<div class="tab-pane card-body fade" id="property-{{ device['internal_id'] }}" role="tabpanel" aria-labelledby="property-tab--{{ device['internal_id'] }}">
							{% for property in device['moz_definition']['properties'] %}
								<span>{{ property|title }}: {{ device['moz_definition']['properties'][property]['description'] }}</span><br>
								<div class="container-fluid">
								{% if device['moz_definition']['properties'][property]['type'] == 'number' %}
									<div class="form-group form-row">
										<input type="text" class="col-7 form-control" readonly value="-- {{ device['moz_definition']['properties'][property]['unit'] }}"/>
										<button type="button" class="col-4 offset-1 btn btn-primary">Read</button>
									</div>
									{% if device['moz_definition']['properties'][property]['readOnly'] == False %}
									<div class="form-group form-row">
										<input type="text" class="col-7 form-control" />
										<button type="button" class="col-4 offset-1 btn btn-primary">Write</button>
									</div>
									{% endif %}
								{% else %}
									<div class="form-group form-row">
										<input type="text" class="col-7 form-control" readonly value="{{ action }}" />
										<button type="button" class="col-4 offset-1 btn btn-primary">Read</button>
									</div>
								{% endif %}
								</div>
							{% endfor %}
							</div><!-- #property-tab -->
							<div class="tab-pane card-body fade" id="action-{{ device['internal_id'] }}" role="tabpanel" aria-labelledby="action-tab-{{ device['internal_id'] }}">
							{% for action in device['moz_definition']['actions'] %}
								<div class="container-fluid">
									<div class="form-group form-row">
										<input type="text" class="col-7 form-control" readonly value="{{ action }}">
										<button type="button" class="col-4 offset-1 btn btn-primary">Trigger</button>
									</div>
								</div>
							{% endfor %}
							</div>
						</div><!-- .tab-content -->
					</div><!-- .card-body -->
				</div><!-- .card -->
				{% endfor %}
			</div><!-- .masonry -->
		</div><!-- .container-fluid -->

	</div><!-- .dashboard -->

<style>
@import "https://fonts.googleapis.com/css?family=Lato:300,400,500,600,700";

body {
	font-family: 'Lato', sans-serif;
	background: #DCDCDC;
}

p {
	font-family: 'Lato', sans-serif;
	font-size: 1.1em;
	font-weight: 300;
	line-height: 1.7em;
	color: #BBB;
}

a, a:hover, a:focus {
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}

.wrapper {
	display: flex;
	width: 100%;
	align-items: stretch;
}

#sidebar {
	min-width: 250px;
	max-width: 250px;
	min-height: 100vh;

	background: #007BFF;
	color: #fff;
	transition: all 0.3.s;
}
#sidebar hr {
	border-color: #BBB;
}
#sidebar .siderbar-header {
	padding: 20px;
	background: #6D7FCC;
}
#sidebar ul.components {
	padding: 20px 0;
	border-bottom: 1px solid #47748B;
}
#sidebar ul p {
	color: #FFF;
	padding: 10px;
}
#sidebar ul li a,
#sidebar ul li span {
	padding: 10px;
	font-size: 1.1em;
	display: block;
}
#sidebar ul li a:hover {
	color: #7386D5;
	background #FFF;
}
#sidebar ul li.active > a, a[aria-expanded="true"] {
	color: #FFF;
}
#sidebar.active {
	margin-left: -250px;
}
ul ul a {
	font-size: 0.9em !important;
	padding-left: 30px !important;
}
a[data-toggle="collapse"] {
	position: relative;
}
.dropdown-toggle::after {
	display: block;
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
}
@media (max-width: 268px) {
	#sidebar {
		margin-left: -250px; 
	}
	#sidebar.active {
		margin-left: 0;
	}
}

.navbar {
	margin-bottom: 1em;
}

.masonry {
	column-count: 4;
	column-gap: 1em;
}

.card {
	display: inline-block;
	margin: 0 0 1em;
	width: 100%;
}
</style>

<script>
	$(document).ready(function() {
		$('#sidebarCollapse').click(function() {
			$('#sidebar').toggleClass('active');
		});
	});
</script>
